body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.menu {
    position: absolute;
    left: 0;
    width: 18%;
    height: 100%;
    border-right: 1px solid #ccc;
}
.logo {
    background-color: #1b617c;
    padding: 20px 15px;
}
.menu span {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.menu span a {
    color: rgb(112, 108, 108);
    font-weight: 500;
}
.menu span a:hover {
    text-decoration: none;
    color: #1b617c;
    font-weight: 650;
}
.add {
    float: right;
}
.add i {
    font-size: 25px;
    color: rgb(10, 172, 10);
    vertical-align: middle;
}
.active {
    color: #1b617c;
    font-weight: 650;
}